/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.css';

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color and font family for the whole document */
html, body {
  background-color: lightgray; /* Light gray background color */
  font-family: Arial, sans-serif; /* Specify a generic sans-serif font */
}

/* Style hyperlinks */
a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Underline links on hover */
}

/* Center content on the page */
.container {
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
}

.img {
  justify-content: center;
}

/* Style buttons */
.btn-primary {
  background-color: darkgray; /* Blue background color for primary buttons */
  border-color: darkgray; /* Blue border color for primary buttons */
  color: black; /* White text color for primary buttons */
}

.btn-primary:hover {
  background-color: black; /* Darker blue on hover */
  border-color: black;
}

/* Style the header/navbar */
.navbar {
  background-color: #333; /* Dark background color for the navbar */
}

.navbar-dark .navbar-brand {
  color: #fff; /* White color for the navbar brand */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff; /* White color for the navbar toggler icon */
}

/* Style the main content section */
.main-content {
  background-color: off whitesmoke;
  padding: 20px;
  border-radius: 5px; /* Add some border radius to soften edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style the footer */
.footer {
  background-color: #333; /* Dark background color for the footer */
  color: #fff; /* White text color for the footer */
  padding: 20px 0;
  text-align: center;
}

.deceased {
  background-image: url('https://user-images.githubusercontent.com/124536589/265879524-c8c78dce-f841-4a55-9c47-7e4d2dc067ef.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  color: #fff; 
  text-align: center; 
}
